.section3 {
    text-align: center;
    margin: 0 4rem;
    margin-bottom: 30px;
}

.title {
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5rem;
}